<!--{% extends "base.html" %}-->
<!--{% load static %}-->
<!--{% block content %}-->




<!--&lt;!&ndash;-->
<!--=============================================-->
<!--    About Company-->
<!--==============================================-->
<!--&ndash;&gt;-->
<!--<div class="about-compnay section-spacing">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 col-12"><img src="{% static 'images/home/1.jpg'%}" alt=""></div>-->
<!--            <div class="col-lg-6 col-12">-->
<!--                <div class="text">-->
<!--                    <div class="theme-title-one">-->
<!--                        <h2>About Our Company</h2>-->
<!--                        <p>A tale of a fateful trip that started from this tropic port aboard this tiny ship today still-->
<!--                            wanted by the government they survive as soldiers of fortune to a deluxe apartment in the-->
<!--                            sky moving on up to the east side a family.</p>-->
<!--                        <p>The government they survive as soldiers of fortune baby if you've ever wondered the east side-->
<!--                            to a deluxe apartment.</p>-->
<!--                    </div> &lt;!&ndash; /.theme-title-one &ndash;&gt;-->
<!--                    <ul class="mission-goal clearfix">-->
<!--                        <li>-->
<!--                            <i class="icon flaticon-star"></i>-->
<!--                            <h4>Vision</h4>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <i class="icon flaticon-medal"></i>-->
<!--                            <h4>Missions</h4>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <i class="icon flaticon-target"></i>-->
<!--                            <h4>Goals</h4>-->
<!--                        </li>-->
<!--                    </ul> &lt;!&ndash; /.mission-goal &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--            </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--        </div> &lt;!&ndash; /.row &ndash;&gt;-->
<!--    </div> &lt;!&ndash; /.container &ndash;&gt;-->
<!--</div> &lt;!&ndash; /.about-compnay &ndash;&gt;-->


<!--&lt;!&ndash;-->
<!--=============================================-->
<!--    Feature Banner-->
<!--==============================================-->
<!--&ndash;&gt;-->
<!--<div class="feature-banner section-spacing">-->
<!--    <div class="opacity">-->
<!--        <div class="container">-->
<!--            <h2>We provide high quality services &amp; innovative solutions for the realiable growth</h2>-->
<!--            <a href="#" class="theme-button-one">GET A QUOTES</a>-->
<!--        </div> &lt;!&ndash; /.container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; /.opacity &ndash;&gt;-->
<!--</div> &lt;!&ndash; /.feature-banner &ndash;&gt;-->


<!--&lt;!&ndash;-->
<!--=============================================-->
<!--    Service Style One-->
<!--==============================================-->
<!--&ndash;&gt;-->
<!--<div class="service-style-one section-spacing">-->
<!--    <div class="container">-->
<!--        <div class="theme-title-one">-->
<!--            <h2>Our SERVICES</h2>-->
<!--            <p>A tale of a fateful trip that started from this tropic port aboard this tiny ship today stillers</p>-->
<!--        </div> &lt;!&ndash; /.theme-title-one &ndash;&gt;-->
<!--        <div class="wrapper">-->
<!--            <div class="row">-->
<!--                <div class="col-xl-4 col-md-6 col-12">-->
<!--                    <div class="single-service">-->
<!--                        <div class="img-box"><img src="{% static 'images/home/3.jpg' %}" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h5><a href="service-details.html">Business Services</a></h5>-->
<!--                            <p>The tiny ship today stiller</p>-->
<!--                            <a href="service-details.html" class="read-more">READ MORE <i class="fa fa-angle-right"-->
<!--                                                                                          aria-hidden="true"></i></a>-->
<!--                        </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.single-service &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                <div class="col-xl-4 col-md-6 col-12">-->
<!--                    <div class="single-service">-->
<!--                        <div class="img-box"><img src="{% static 'images/home/4.jpg' %}" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h5><a href="service-details.html">Consumer Product</a></h5>-->
<!--                            <p>The tiny ship today stiller</p>-->
<!--                            <a href="service-details.html" class="read-more">READ MORE <i class="fa fa-angle-right"-->
<!--                                                                                          aria-hidden="true"></i></a>-->
<!--                        </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.single-service &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                <div class="col-xl-4 col-md-6 col-12">-->
<!--                    <div class="single-service">-->
<!--                        <div class="img-box"><img src="{% static 'images/home/5.jpg' %}" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h5><a href="service-details.html">Financial Services</a></h5>-->
<!--                            <p>The tiny ship today stiller</p>-->
<!--                            <a href="service-details.html" class="read-more">READ MORE <i class="fa fa-angle-right"-->
<!--                                                                                          aria-hidden="true"></i></a>-->
<!--                        </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.single-service &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                <div class="col-xl-4 col-md-6 col-12">-->
<!--                    <div class="single-service">-->
<!--                        <div class="img-box"><img src="{% static 'images/home/6.jpg' %}" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h5><a href="service-details.html">Travel and Aviation</a></h5>-->
<!--                            <p>The tiny ship today stiller</p>-->
<!--                            <a href="service-details.html" class="read-more">READ MORE <i class="fa fa-angle-right"-->
<!--                                                                                          aria-hidden="true"></i></a>-->
<!--                        </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.single-service &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                <div class="col-xl-4 col-md-6 col-12">-->
<!--                    <div class="single-service">-->
<!--                        <div class="img-box"><img src="{% static 'images/home/7.jpg' %}" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h5><a href="service-details.html">Software Research</a></h5>-->
<!--                            <p>The tiny ship today stiller</p>-->
<!--                            <a href="service-details.html" class="read-more">READ MORE <i class="fa fa-angle-right"-->
<!--                                                                                          aria-hidden="true"></i></a>-->
<!--                        </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.single-service &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                <div class="col-xl-4 col-md-6 col-12">-->
<!--                    <div class="single-service">-->
<!--                        <div class="img-box"><img src="{% static 'images/home/8.jpg' %}" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h5><a href="service-details.html">Quality Resourcing</a></h5>-->
<!--                            <p>The tiny ship today stiller</p>-->
<!--                            <a href="service-details.html" class="read-more">READ MORE <i class="fa fa-angle-right"-->
<!--                                                                                          aria-hidden="true"></i></a>-->
<!--                        </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.single-service &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--            </div> &lt;!&ndash; /.row &ndash;&gt;-->
<!--        </div> &lt;!&ndash; /.wrapper &ndash;&gt;-->
<!--        <div class="contact-text">-->
<!--            <h4>You can also send us an email and we’ll get in touch shortly, or Call us</h4>-->
<!--            <h5><a href="#">info@support.com</a> (or) <a href="#">+1 234 6780 900</a></h5>-->
<!--        </div>-->
<!--    </div> &lt;!&ndash; /.container &ndash;&gt;-->
<!--</div> &lt;!&ndash; /.service-style-one &ndash;&gt;-->


<!--&lt;!&ndash;-->
<!--=====================================================-->
<!--    Testimonial Slider-->
<!--=====================================================-->
<!--&ndash;&gt;-->
<!--<div class="testimonial-section section-spacing">-->
<!--    <div class="overlay">-->
<!--        <div class="container">-->
<!--            <div class="wrapper">-->
<!--                <div class="bg">-->
<!--                    <div class="testimonial-slider">-->
<!--                        <div class="item">-->
<!--                            <p>“ A tale of a fateful trip that started from this tropic port aboard this tiny ship today-->
<!--                                still wanted by the government they survive as soldiers of fortune to a deluxe apartment-->
<!--                                in the sky moving on up to the east side a family. ”</p>-->
<!--                            <div class="name">-->
<!--                                <h6>Shawn Michael</h6>-->
<!--                                <span>Founder, Mnc Inc.</span>-->
<!--                            </div> &lt;!&ndash; /.name &ndash;&gt;-->
<!--                        </div> &lt;!&ndash; /.item &ndash;&gt;-->
<!--                        <div class="item">-->
<!--                            <p>“ A tale of a fateful trip that started from this tropic port aboard this tiny ship today-->
<!--                                still wanted by the government they survive as soldiers of fortune to a deluxe apartment-->
<!--                                in the sky moving on up to the east side a family. ”</p>-->
<!--                            <div class="name">-->
<!--                                <h6>Rashed Ka.</h6>-->
<!--                                <span>Founder, Mnc Inc.</span>-->
<!--                            </div> &lt;!&ndash; /.name &ndash;&gt;-->
<!--                        </div> &lt;!&ndash; /.item &ndash;&gt;-->
<!--                        <div class="item">-->
<!--                            <p>“ A tale of a fateful trip that started from this tropic port aboard this tiny ship today-->
<!--                                still wanted by the government they survive as soldiers of fortune to a deluxe apartment-->
<!--                                in the sky moving on up to the east side a family. ”</p>-->
<!--                            <div class="name">-->
<!--                                <h6>Mahfuz Riad</h6>-->
<!--                                <span>Founder, Mnc Inc.</span>-->
<!--                            </div> &lt;!&ndash; /.name &ndash;&gt;-->
<!--                        </div> &lt;!&ndash; /.item &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.testimonial-slider &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.bg &ndash;&gt;-->
<!--            </div> &lt;!&ndash; /.wrapper &ndash;&gt;-->
<!--        </div> &lt;!&ndash; /.container &ndash;&gt;-->
<!--    </div> &lt;!&ndash; /.overlay &ndash;&gt;-->
<!--</div> &lt;!&ndash; /.testimonial-section &ndash;&gt;-->


<!--&lt;!&ndash;-->
<!--=====================================================-->
<!--    Our Team-->
<!--=====================================================-->
<!--&ndash;&gt;-->
<!--<div class="our-team section-spacing">-->
<!--    <div class="container">-->
<!--        <div class="theme-title-one">-->
<!--            <h2>Our TEAM</h2>-->
<!--            <p>A tale of a fateful trip that started from this tropic port aboard this tiny ship today stillers</p>-->
<!--        </div> &lt;!&ndash; /.theme-title-one &ndash;&gt;-->
<!--        <div class="wrapper">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-3 col-sm-6 col-12">-->
<!--                    <div class="team-member">-->
<!--                        <div class="image-box">-->
<!--                            <img src="{% static 'images/team/1.jpg' %}" alt="">-->
<!--                            <div class="overlay">-->
<!--                                <div class="hover-content">-->
<!--                                    <p>The government they survive as soldiers of fortune.</p>-->
<!--                                </div> &lt;!&ndash; /.hover-content &ndash;&gt;-->
<!--                            </div> &lt;!&ndash; /.overlay &ndash;&gt;-->
<!--                        </div> &lt;!&ndash; /.image-box &ndash;&gt;-->
<!--                        <div class="text">-->
<!--                            <h6>Richards Mills</h6>-->
<!--                            <span>Sales Consultant</span>-->
<!--                        </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.team-member &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                <div class="col-lg-3 col-sm-6 col-12">-->
<!--                    <div class="team-member">-->
<!--                        <div class="image-box">-->
<!--                            <img src="{% static 'images/team/2.jpg' %}" alt="">-->
<!--                            <div class="overlay">-->
<!--                                <div class="hover-content">-->
<!--                                    <ul>-->
<!--                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>-->
<!--                                    </ul>-->
<!--                                    <p>The government they survive as soldiers of fortune.</p>-->
<!--                                </div> &lt;!&ndash; /.hover-content &ndash;&gt;-->
<!--                            </div> &lt;!&ndash; /.overlay &ndash;&gt;-->
<!--                        </div> &lt;!&ndash; /.image-box &ndash;&gt;-->
<!--                        <div class="text">-->
<!--                            <h6>Mike Hussey</h6>-->
<!--                            <span>Founder, CEO</span>-->
<!--                        </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.team-member &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                <div class="col-lg-3 col-sm-6 col-12">-->
<!--                    <div class="team-member">-->
<!--                        <div class="image-box">-->
<!--                            <img src="{% static 'images/team/3.jpg' %}" alt="">-->
<!--                            <div class="overlay">-->
<!--                                <div class="hover-content">-->
<!--                                    <ul>-->
<!--                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>-->
<!--                                    </ul>-->
<!--                                    <p>The government they survive as soldiers of fortune.</p>-->
<!--                                </div> &lt;!&ndash; /.hover-content &ndash;&gt;-->
<!--                            </div> &lt;!&ndash; /.overlay &ndash;&gt;-->
<!--                        </div> &lt;!&ndash; /.image-box &ndash;&gt;-->
<!--                        <div class="text">-->
<!--                            <h6>Jenilia D’sosa</h6>-->
<!--                            <span>Marketing Lead</span>-->
<!--                        </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.team-member &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                <div class="col-lg-3 col-sm-6 col-12">-->
<!--                    <div class="team-member">-->
<!--                        <div class="image-box">-->
<!--                            <img src="{% static 'images/team/4.jpg' %}" alt="">-->
<!--                            <div class="overlay">-->
<!--                                <div class="hover-content">-->
<!--                                    <ul>-->
<!--                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>-->
<!--                                    </ul>-->
<!--                                    <p>The government they survive as soldiers of fortune.</p>-->
<!--                                </div> &lt;!&ndash; /.hover-content &ndash;&gt;-->
<!--                            </div> &lt;!&ndash; /.overlay &ndash;&gt;-->
<!--                        </div> &lt;!&ndash; /.image-box &ndash;&gt;-->
<!--                        <div class="text">-->
<!--                            <h6>David Warner</h6>-->
<!--                            <span>SEO Analyst</span>-->
<!--                        </div> &lt;!&ndash; /.text &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; /.team-member &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--            </div> &lt;!&ndash; /.row &ndash;&gt;-->
<!--        </div> &lt;!&ndash; /.wrapper &ndash;&gt;-->
<!--    </div> &lt;!&ndash; /.container &ndash;&gt;-->
<!--</div> &lt;!&ndash; /.our-team &ndash;&gt;-->


<!--&lt;!&ndash;-->
<!--=====================================================-->
<!--    Theme Counter-->
<!--=====================================================-->
<!--&ndash;&gt;-->
<!--<div class="theme-counter section-spacing">-->
<!--    <div class="container">-->
<!--        <div class="bg">-->
<!--            <h6>Company Success</h6>-->
<!--            <h2>Some fun facts about our consulting</h2>-->

<!--            <div class="cunter-wrapper">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-3 col-6">-->
<!--                        <div class="single-counter-box">-->
<!--                            <div class="number"><span class="timer" data-from="0" data-to="30" data-speed="1200"-->
<!--                                                      data-refresh-interval="5">0</span>+-->
<!--                            </div>-->
<!--                            <p>Years of Excellence</p>-->
<!--                        </div> &lt;!&ndash; /.single-counter-box &ndash;&gt;-->
<!--                    </div>  &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                    <div class="col-md-3 col-6">-->
<!--                        <div class="single-counter-box">-->
<!--                            <div class="number"><span class="timer" data-from="0" data-to="100" data-speed="1200"-->
<!--                                                      data-refresh-interval="5">0</span>%-->
<!--                            </div>-->
<!--                            <p>Client Satisfaction</p>-->
<!--                        </div> &lt;!&ndash; /.single-counter-box &ndash;&gt;-->
<!--                    </div>  &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                    <div class="col-md-3 col-6">-->
<!--                        <div class="single-counter-box">-->
<!--                            <div class="number"><span class="timer" data-from="0" data-to="53" data-speed="1200"-->
<!--                                                      data-refresh-interval="5">0</span>k-->
<!--                            </div>-->
<!--                            <p>Cases Completed</p>-->
<!--                        </div> &lt;!&ndash; /.single-counter-box &ndash;&gt;-->
<!--                    </div>  &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                    <div class="col-md-3 col-6">-->
<!--                        <div class="single-counter-box">-->
<!--                            <div class="number"><span class="timer" data-from="0" data-to="24" data-speed="1200"-->
<!--                                                      data-refresh-interval="5">0</span></div>-->
<!--                            <p>Consultants</p>-->
<!--                        </div> &lt;!&ndash; /.single-counter-box &ndash;&gt;-->
<!--                    </div>  &lt;!&ndash; /.col- &ndash;&gt;-->
<!--                </div> &lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div> &lt;!&ndash; /.cunter-wrapper &ndash;&gt;-->
<!--            <a href="#" class="theme-button-one">VIEW CASE STUDIES</a>-->
<!--        </div> &lt;!&ndash; /.bg &ndash;&gt;-->
<!--    </div> &lt;!&ndash; /.container &ndash;&gt;-->
<!--</div> &lt;!&ndash; /.theme-counter &ndash;&gt;-->


<!--&lt;!&ndash;-->
<!--=====================================================-->
<!--    Free Consultation-->
<!--=====================================================-->
<!--&ndash;&gt;-->
<!--<div class="consultation-form section-spacing">-->
<!--    <div class="container">-->
<!--        <div class="theme-title-one">-->
<!--            <h2>FREE CONSULTATION</h2>-->
<!--            <p>A tale of a fateful trip that started from this tropic port aboard this tiny ship today stillers</p>-->
<!--        </div> &lt;!&ndash; /.theme-title-one &ndash;&gt;-->
<!--        <div class="clearfix main-content no-gutters row">-->
<!--            <div class="col-xl-6 col-lg-5 col-12">-->
<!--                <div class="img-box"></div>-->
<!--            </div>-->
<!--            <div class="col-xl-6 col-lg-7 col-12">-->
<!--                <div class="form-wrapper">-->
<!--                    <form action="#" class="theme-form-one">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6"><input type="text" placeholder="Name *"></div>-->
<!--                            <div class="col-md-6"><input type="text" placeholder="Phone *"></div>-->
<!--                            <div class="col-md-6"><input type="email" placeholder="Email *"></div>-->
<!--                            <div class="col-md-6">-->
<!--                                <select class="form-control" id="exampleSelect1">-->
<!--                                    <option>Service you’re looking for?</option>-->
<!--                                    <option>Business Services</option>-->
<!--                                    <option>Consumer Product</option>-->
<!--                                    <option>Financial Services</option>-->
<!--                                    <option>Software Research</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col-12"><textarea placeholder="Message"></textarea></div>-->
<!--                        </div> &lt;!&ndash; /.row &ndash;&gt;-->
<!--                        <button class="theme-button-one">GET A QUOTES</button>-->
<!--                    </form>-->
<!--                </div> &lt;!&ndash; /.form-wrapper &ndash;&gt;-->
<!--            </div> &lt;!&ndash; /.col- &ndash;&gt;-->
<!--        </div> &lt;!&ndash; /.main-content &ndash;&gt;-->
<!--    </div> &lt;!&ndash; /.container &ndash;&gt;-->
<!--</div> &lt;!&ndash; /.consultation-form &ndash;&gt;-->


<!--&lt;!&ndash;-->
<!--=====================================================-->
<!--    Partner Slider-->
<!--=====================================================-->
<!--&ndash;&gt;-->
<!--<div class="partner-section bg-color">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-3 col-sm-4 col-12">-->
<!--                <h6>OUR <br>PARTNERS</h6>-->
<!--            </div>-->
<!--            <div class="col-md-9 col-sm-8 col-12">-->
<!--                <div class="partner-slider">-->
<!--                    <div class="item"><img src="{% static 'images/logo/p-2.png' %}" alt=""></div>-->
<!--                    <div class="item"><img src="{% static 'images/logo/p-1.png' %}" alt=""></div>-->
<!--                    <div class="item"><img src="{% static 'images/logo/p-3.png' %}" alt=""></div>-->
<!--                    <div class="item"><img src="{% static 'images/logo/p-4.png' %}" alt=""></div>-->
<!--                    <div class="item"><img src="{% static 'images/logo/p-5.png' %}" alt=""></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div> &lt;!&ndash; /.partner-section &ndash;&gt;-->


<!--{% endblock %}-->
